<div class="container">
    <form (submit)="todoSubmit(todo.value)">
        <div class="form-group">
            <h1 class="text-center ">Todo App</h1>
            <div class="input-group-prepend">
                <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
                <span class="input-group-text" (click)="addTodo(todo.value)">
				<i class="material-icons">add</i></span>
            </div>
        </div>
        <div class="data">
            <ul class="list-unstyled">
                <app-todo-item
                        *ngFor="let todoItem of todoArray"
                        [todo]="todoItem"
                        (delete)="deleteItem($event)"
                        (complete)="completeItemClick($event)"
                ></app-todo-item>
            </ul>
        </div>
        <app-pagination [pageNum]="pagesAmount" (pageChange)="pageChange($event)"></app-pagination>
    </form>
</div>
