<div class="container">
    <form (submit)="todoSubmit(todo.value)">
        <div class="form-group">
            <h1 class="text-center ">Todo App</h1>
            <div class="input-group-prepend">
                <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
                <span class="input-group-text" (click)="addTodo(todo.value)">
				<i class="material-icons">add</i></span>
            </div>
        </div>
        <div class="data">
            <ul class="list-unstyled">
                <li *ngFor="let todo of todoArray" [ngClass]="todo.is_completed ? 'completed' : ''">
                    {{todo.title}}
                    <div class="list-item-buttons">
                        <span (click)="deleteItem(todo.id)" class="delete-btn">delete</span>
                        <span (click)="completeItemClick(todo.id)" class="complete-btn">
                            {{todo.is_completed ? 'incomplete' : 'complete'}}
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="pagination">
            <li class="page-item" *ngFor="let page of makeArray(pagesAmount);" (click)="pageChange(page)">
                <a class="page-link"> {{page}} </a>
            </li>
        </ul>
    </form>

</div>
