<div class="container">
    <form [formGroup]="form" (ngSubmit)="addTodo()">
        <div class="form-group">
            <app-todo-field [formFromParent]="form"></app-todo-field>
        </div>
        <div class="data">
            <ul class="list-unstyled">
                <app-todo-item
                        *ngFor="let todoItem of todoArray"
                        [todo]="todoItem"
                        (delete)="deleteItem($event)"
                        (complete)="completeItemClick($event)"
                ></app-todo-item>
            </ul>
        </div>
        <app-pagination [pageNum]="pagesAmount" (pageChange)="pageChange($event)"></app-pagination>
    </form>
</div>
